/* =========
Your custom styles go here
 ========= */

ul {  list-style: none;  }
* {
    margin: 0;
    padding: 0;
}


.list-block .list-button {
    color: orange;
}
.layout-dark .content-block-title {
    color: orange;
}
.fluid_video_wrapper.mobile {
    width: 100% !important;
    height: auto !important;
}

.video-container {
    width: 100%;
}
.video-container .video-item {

}
.video-container .video-item .video-img {
    width: 100%;
}
.video-container .video-item .video-title {
    color: orange;
    padding: 5px 10px;
    min-height: 40px;
}