/* =========
Your custom styles go here
 ========= */

ul {  list-style: none;  }
* {
    margin: 0;
    padding: 0;
}


.list-block .list-button {
    color: orange;
}
.layout-dark .content-block-title {
    color: orange;
}
.fluid_video_wrapper.mobile {
    width: 100% !important;
    height: auto !important;
}

.nav-title-pre {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 2px;
    color: white;
}
.nav-title-after {
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: orange;
    padding: 2px;
}


.info-container {
    padding-top: 20px;
    background-color: black;
}
.categories-title.content-block-title {
    margin: 10px 10px 0;
}
.categories-container {

}
.categories-container .category-icon{
    font-size: 20px;
    padding-top: 5px;
}


.login-container {
    text-align: center;
    color: lightgray;
}
.login-container img {
    width: 40px;
    height: 40px;
}
.login-container i {
    color: lightgray;
}
.login-container .title {
    margin-bottom: 15px;
}

.video-container {
    width: 100%;
}
.video-container .video-item {

}
.video-container .video-item .video-img {
    width: 100%;
}
.video-title {
    color: orange;
    padding: 5px 10px;
    min-height: 40px;
}

.bottom-announce-title {
    text-align: center;
    color: #666666;
    font-size: 18px;
    margin: 5px;
}
.bottom-announce-detail {
    text-align: center;
    color: #999999;
    font-size: 14px;
    margin: 0 5px 40px;
}